/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

ul {
  padding: 0;
}

.main {
  padding-bottom: 20px;
}

h1 {
  font: inherit;
  font-size: 18px;
}

.group {
  padding-bottom: 5px;
}

h2 {
  font: inherit;
  font-weight: bold;
}

.file {
  list-style: none;
}

h3 {
  font: inherit;
  margin: 3px 0;
  padding-left: 20px;
  background-image: url("../images/mimetypes/unknown.png");
  background-position: left center;
  background-repeat: no-repeat;
}

.line {
  list-style: none;
}

.lineno {
  padding-right: 10px;
}

.file.test h3,      .file.normal h3,
.file.test .lineno, .file.normal .lineno,
.file.test code,    .file.normal code {
  cursor: pointer;
}
